In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_datareader
import datetime
import pandas_datareader.data as web
import os
import sys
import glob

In [2]:
start=datetime.datetime(2012, 1, 1)
end=datetime.datetime(2019, 12, 31)
api_key="mYnpdhz7HnGbCoT5qz6-"
delta=web.DataReader('DAL', 'quandl', start, end, access_key=api_key)

/home/ronet/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: the 'access_key' keyword is deprecated, use 'api_key' instead
  after removing the cwd from sys.path.

In [3]:
web.DataReader('GOOG', 'quandl', start, end, access_key=api_key)

/home/ronet/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: the 'access_key' keyword is deprecated, use 'api_key' instead
  """Entry point for launching an IPython kernel.

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,1063.000,1064.84,996.92,1005.10,3029471.0,0.0,1.0,1063.000,1064.84,996.92,1005.10,3029471.0
2018-03-26,1046.000,1055.63,1008.40,1053.21,2558385.0,0.0,1.0,1046.000,1055.63,1008.40,1053.21,2558385.0
2018-03-23,1047.030,1063.36,1021.22,1021.57,2113497.0,0.0,1.0,1047.030,1063.36,1021.22,1021.57,2113497.0
2018-03-22,1081.880,1082.90,1045.91,1049.08,2580374.0,0.0,1.0,1081.880,1082.90,1045.91,1049.08,2580374.0
2018-03-21,1092.740,1106.30,1085.15,1090.88,1640709.0,0.0,1.0,1092.740,1106.30,1085.15,1090.88,1640709.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-04-02,565.106,604.83,562.19,567.00,146700.0,0.0,1.0,565.106,604.83,562.19,567.00,146700.0
2014-04-01,558.710,568.45,558.71,567.16,7900.0,0.0,1.0,558.710,568.45,558.71,567.16,7900.0
2014-03-31,566.890,567.00,556.93,556.97,10800.0,0.0,1.0,566.890,567.00,556.93,556.97,10800.0
2014-03-28,561.200,566.43,558.67,559.99,41100.0,0.0,1.0,561.200,566.43,558.67,559.99,41100.0
2014-03-27,568.000,568.00,552.92,558.46,13100.0,0.0,1.0,568.000,568.00,552.92,558.46,13100.0

In [4]:
os.chdir("/home/ronet/Desktop/Capstone-Revised/")
with open('snp500_formatted.txt','r') as f:
    data=f.read()
data=data.split('\n')
all_filenames=data

In [5]:
len(data)

502

In [6]:
start=datetime.datetime(2012, 1, 1)
end=datetime.datetime(2019, 12, 31)
api_key="mYnpdhz7HnGbCoT5qz6-"
joint_csv=pd.DataFrame()

for f in all_filenames:
    df=web.DataReader(f, 'quandl', start, end, access_key=api_key)
    df['Stock_Name']=f
    joint_csv=pd.concat([joint_csv,df])

/home/ronet/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: the 'access_key' keyword is deprecated, use 'api_key' instead
  import sys

In [7]:
joint_csv

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume,Stock_Name
Date,,,,,,,,,,,,,
2018-03-07,231.22,236.22,230.59,235.57,2213792.0,0.0,1.0,231.220000,236.220000,230.590000,235.570000,2213792.0,MMM
2018-03-06,234.05,235.92,230.80,233.66,2089047.0,0.0,1.0,234.050000,235.920000,230.800000,233.660000,2089047.0,MMM
2018-03-05,230.00,233.71,228.53,232.81,2235348.0,0.0,1.0,230.000000,233.710000,228.530000,232.810000,2235348.0,MMM
2018-03-02,229.75,231.27,226.33,230.37,2912828.0,0.0,1.0,229.750000,231.270000,226.330000,230.370000,2912828.0,MMM
2018-03-01,236.15,236.83,229.53,231.34,3487126.0,0.0,1.0,236.150000,236.830000,229.530000,231.340000,3487126.0,MMM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-02-07,31.00,32.73,31.00,32.00,3800800.0,0.0,1.0,29.902065,31.570793,29.902065,30.866648,3800800.0,ZTS
2013-02-06,30.98,31.43,30.75,31.03,2126100.0,0.0,1.0,29.882773,30.316836,29.660919,29.931003,2126100.0,ZTS
2013-02-05,31.25,31.98,30.85,31.04,5013200.0,0.0,1.0,30.143211,30.847356,29.757378,29.940648,5013200.0,ZTS
2013-02-04,31.09,31.99,30.76,31.02,7695400.0,0.0,1.0,29.988878,30.857002,29.670565,29.921357,7695400.0,ZTS
2013-02-01,31.50,31.74,30.47,31.01,66789100.0,0.0,1.0,30.384356,30.615856,29.390836,29.911711,66789100.0,ZTS

In [8]:
joint_csv.to_csv("updated_stocks.csv")